@import url("estilos/cabeçalho.css");
@import url("estilos/banner.css");
@import url("estilos/carrossel.css");
@import url("estilos/topicos.css");
@import url("estilos/contato.css");
@import url("estilos/rodapé.css");

:raiz {
    --cor-de-fundo: #FFD4E4;
    --branco: #FFFFFF;
    --preto: #000000;
    --azul-degrade: gradiente linear(97,54 graus, #e394ee 35,49%, #ffffff 165,37%);
    --fonte-principal: "Poppins";
    --azul: #FF508F;
}

corpo {
    cor de fundo: var(--cor-de-fundo);
    família de fontes: var(--fonte-principal);
    tamanho da fonte: 16px;
    espessura da fonte: 400;
}
